[submodule "upload/results"]
	path = results
	url = git@github.com:ILLIXR/results.git
[submodule "upload/ILLIXR-Evaluation"]
	path = ILLIXR-Evaluation
	url = git@github.com:Boyuan-Tian/ILLIXR-Evaluation.git
[submodule "upload/OpenXR-Apps"]
	path = OpenXR-Apps
	url = git@github.com:Hyjale/OpenXR-Apps
[submodule "upload/monado_integration"]
	path = monado_integration
	url = git@github.com:ILLIXR/monado_integration.git
[submodule "upload/ILLIXR"]
	path = ILLIXR
	url = git@github.com:ILLIXR/ILLIXR.git
[submodule "upload/godot"]
	path = godot
	url = git@github.com:ILLIXR/godot.git
